{
  "timeout": 3,
  "source": {
    "directories": [
      "src"
    ]
  },
  "logs": {
    "text": "test-results/infection/infection.log",
    "summary": "test-results/infection/summary.txt",
    "perMutator": "test-results/infection/per_mutator.md"
  },
  "mutators": {
    "@default": true,
    "@number": {
      "ignore": [
        "Burba\\StrictJson\\InvalidConfigurationException::__construct",
        "Burba\\StrictJson\\JsonFormatException::__construct"
      ]
    }
  }
}