{
  "timeout": 3,
  "source": {
    "directories": [
      "src"
    ]
  },
  "logs": {
    "text": "test-results/infection/infection.log",
    "summary": "test-results/infection/summary.txt",
    "perMutator": "test-results/infection/per_mutator.md"
  },
  "mutators": {
    "@default": true,
    "@number": {
      "ignore": [
        "Burba\\StrictJson\\InvalidConfigurationException::__construct",
        "Burba\\StrictJson\\JsonFormatException::__construct"
      ]
    },
    "Coalesce": {
      "ignore": [
        "Burba\\StrictJson\\Internal\\ConstructorParameterFetcher::getParameters::34"
      ]
    },
    "Throw_": {
      "ignore": [
        "Burba\\StrictJson\\Internal\\ConstructorParameterFetcher::findParameters::55",
        "Burba\\StrictJson\\StrictJson::mapDecoded::113"
      ]
    }
  }
}