{
  "timeout": 3,
  "source": {
    "directories": [
      "src"
    ]
  },
  "logs": {
    "text": "infection.log"
  },
  "mutators": {
    "@default": true,
    "@number": {
      "ignore": [
        "Burba\\StrictJson\\InvalidConfigurationException::__construct",
        "Burba\\StrictJson\\JsonFormatException::__construct"
      ]
    }
  }
}