includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
  ignoreErrors:
    - '#^Dynamic call to static method PHPUnit\\Framework\\\S+\(\)\.$#'
    # StrictJson validates the type using reflection, so we can assume a more specific type
    - '#fromJson\(\) should be contravariant#'
