<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" colors="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <clover outputFile="test-results/phpunit/coverage.clover.xml"/>
      <html outputDirectory="test-results/phpunit/coverage-report"/>
      <xml outputDirectory="test-results/phpunit/coverage-xml"/>
    </report>
  </coverage>
  <testsuite name="all">
    <directory>test</directory>
  </testsuite>
  <logging>
    <junit outputFile="test-results/phpunit/phpunit.junit.xml"/>
  </logging>
</phpunit>
